.image {
    width: 100%;
    border-width: 3px;
    border-style: solid;
    border-color: var(--color-border);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    height: inherit;
}

.theme_color_project-default .image {
    background-image: url(images/image-placeholder-primary.svg);
}

.theme_color_project-inverse .image, .theme_color_project-brand .image {
    background-image: url(images/image-placeholder-inverse.svg);
}
