.theme_color_project-inverse {
    --background-color-default: #000000;
    --background-color-accent: #FFFFFF;
    --color-border: #FFFFFF;
    --color-main: #FFFFFF;
    --color-secondary: rgba(255, 255, 255, 0.6);
    --color-addition: rgba(255, 255, 255, 0.3);
    --color-link: #0070f0;
}
